:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
}

/*------------------ body -------------*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--text);
  background-color: var(--white-background);
}

/* -------------Container------------- */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*------------------ HEADER -------------*/

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo-studio {
  color: var(--dark);
}
.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state);
}

.header-information {
  font-style: normal;
}

/*---------------- hero -----------------*/
.hero {
  padding: 188px 0;
  text-align: center;
  background: var(--dark);
}

.hero-title {
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  color: var(--white-background);
}
.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 16px 32px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background: var(--primary-brand);
  text-align: center;
  cursor: pointer;
}

.section {
  padding: 120px 0;
}

/* ----------------- benefits-----------*/

.benefits-subtitle {
  margin-bottom: 8px;
}

/* -----------service-------------- */

.service {
  padding-top: 0;
  padding-bottom: 120px;
}

/* title */
.title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

/* subtitle */

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

/* -------------------Our-Team--------------- */
.team {
  background: var(--light);
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-item {
  background-color: var(--white-background);
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* -------------Portfolio------------- */

.portfolio-button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--light);
  color: var(--primary-brand);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--white-background);
  background: var(--pressed-state);
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-list {
  margin-bottom: 72px;
}

/* -------------Footer------------------------- */
.footer {
  padding: 100px 0;
  background: var(--dark);
}
.footer-logo {
  display: block;
  margin-bottom: 17.5px;
  padding: 0;
}
.studio {
  color: var(--light);
}
.footer-text {
  color: var(--light);
}
